#body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(153, 178, 53);
    width: 100%;

}
#imgPerfil{
    margin: 40px;
    padding: 40px;
    width: 100px;
    border-radius: 15px;
    border-right: 5px solid black;
    border-bottom: 5px solid black;}

#textoAlternativo{
    width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: cornsilk;

}


.lista{ 

    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    border-right: 10px solid black;
    border-bottom: 10px solid black;

    background-color: rgb(67, 157, 187);
    text-align: left;
    width: 25%;
    min-width: 300px;
    min-height: 150px;
}
.links{
    margin: 30px;
}
